# for STM32 project
STM32/**/*.bak
STM32/**/*.ddk
STM32/**/*.edk
STM32/**/*.lst
STM32/**/*.lnp
STM32/**/*.mpf
STM32/**/*.mpj
STM32/**/*.obj
STM32/**/*.omf
STM32/**/*.plg
STM32/**/*.rpt
STM32/**/*.tmp
STM32/**/*.__i
STM32/**/*.crf
STM32/**/*.o
STM32/**/*.d
STM32/**/*.axf
STM32/**/*.tra
STM32/**/*.dep           
STM32/**/JLinkLog.txt
STM32/**/*.iex
STM32/**/*.htm
STM32/**/*.sct
STM32/**/*.map
STM32/**/*.uvguix*
STM32/**/*.uvoptx
STM32/**/*.hex